{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>
    Walimu Care | Benefits Structure
</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/benefits.css' %}">
{% endblock style %}
{% block main %}
<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Benefits</li>
            </ol>
            <h2>Benefits Structure</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <section id="benefits-structure">
        <div class="container">

        </div>
    </section>
</main>
{% endblock main %}