<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="theme-color" content="#c3a22c" />
        <meta name="author" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:image" content="" />
        <meta property="og:locale" content="" />
        <title>Walimu Care | Benefits</title>
        <!-- Favicons & Webmanifest -->
        <link rel="icon" href="static/img/icon/favicon.png" />
        <link rel="apple-touch-icon" href="static/img/icon/apple-touch-icon.png" />
        <link rel="manifest" href="static/manifest.webmanifest" />
        <!-- Google Fonts -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" />
        <!-- Vendor CSS Files -->
        <link rel="stylesheet" href="vendor/aos/aos.css" />
        <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet"
              href="vendor/bootstrap-icons/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="vendor/glightbox/glightbox.min.css" />
        <!-- Main CSS File -->
        <link rel="stylesheet" href="static/css/style.css">
        <!-- Vendor JS Files -->
        <script src="vendor/aos/aos.js" defer></script>
        <script src="vendor/bootstrap/bootstrap.bundle.min.js" defer></script>
        <script src="vendor/swiper/swiper-bundle.min.js" defer></script>
        <script src="vendor/glightbox/glightbox.min.js" defer></script>
        <script src="vendor/htmx/htmx.min.js" defer></script>
        <!-- Main JS File -->
        <script src="static/js/main.js" defer></script>
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header">
            <div class="container-fluid header-nav">
                <div class="clearfix position-relative h-100">
                    <a href="index.html">
                        <img src="static/img/icon/Afya-kwa-walimu.png"
                             width=""
                             height="90%"
                             alt=""
                             class="float-start">
                    </a>
                    <img src="static/img/icon/TSC.png"
                         width=""
                         height="90%"
                         alt=""
                         class="float-end">
                    <!-- Desktop Navigation -->
                    <div class="d-none d-md-flex desktop-nav">
                        <div class="nav d-table text-uppercase">
                            <div class="d-table-row">
                                <div class="d-table-cell border-end border-secondary nav-item">
                                    <a class="nav-link active py-0" aria-current="page" href="index.html">Home</a>
                                </div>
                                <div class="d-table-cell border-end border-secondary nav-item">
                                    <a class="nav-link py-0" href="about.html">About Afya Kwa Walimu</a>
                                </div>
                                <div class="d-table-cell border-end border-secondary nav-item">
                                    <a class="nav-link py-0" href="benefits-structure.html">Benefits Structure</a>
                                </div>
                                <div class="d-table-cell nav-item">
                                    <a class="nav-link py-0" href="register.html">Registration</a>
                                </div>
                            </div>
                        </div>
                        <div class="hot-line">
                            Emergency hot line <i class="bi bi-telephone-fill"></i> <span>1528</span>
                        </div>
                    </div>
                    <div class="d-flex d-md-none mobile-nav-btn">
                        <button type="button"
                                class="btn btn-primary d-md-none d-inline-block"
                                data-bs-toggle="modal"
                                data-bs-target="#mobilenavModal">
                            <i class="bi bi-list text-light"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Mobile Navigation -->
            <div id="mobilenavModal" class=" mobile-nav modal fade" tabindex="-1">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="mobilenav-hot-line">
                                Emergency hot line <i class="bi bi-telephone-fill"></i> <span>1528</span>
                            </div>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-unstyled">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link"><i class="bi bi-caret-right-fill"></i> Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link"><i class="bi bi-caret-right-fill"></i> About Afya Kwa Walimu</a>
                                </li>
                                <li class="nav-item">
                                    <a href="benefits-structure.html" class="nav-link"><i class="bi bi-caret-right-fill"></i> Benefits Structure</a>
                                </li>
                                <li class="nav-item">
                                    <a href="register.html" class="nav-link"><i class="bi bi-caret-right-fill"></i> Registration</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ======= Main ======= -->
        <main id="main">
            <!-- Breadcrumbs -->
            <section id="breadcrumbs">
                <div class="container-fluid breadcrumbs-padding">
                    <ol>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Benefits</li>
                    </ol>
                    <h2>Benefits Structure</h2>
                </div>
            </section>
            <!-- Benefits-table -->
            <section id="benefits-table">
                <div class="container-fluid section-padding" data-aos="fade-up">
                    <h3>Benefits Table</h3>
                    <p>
                        The Unlimited Benefits For Both Inpatient And Outpatient For Job Group B5 - C3 Shall Apply In Government Hospitals, Faith Based Hospitals (Mission Hospitals)
                        And Private Hospitals Owned By The Capitation Provider. However, Teachers In This Category Who Wish To Seek Medical Services From Alternative Empaneled
                        Hospitals Shall Be Free To Do So Under The Above Limits.
                    </p>
                    <div class="table-responsive mt-4">
                        <table class="table table-bordered border-light table-striped">
                            <thead>
                                <tr>
                                    <th class="tb-cell">Job Group</th>
                                    <th class="tb-cell">Inpatient</th>
                                    <th class="tb-cell">Outpatient</th>
                                    <th class="tb-cell">Dental</th>
                                    <th class="tb-cell">Optical</th>
                                    <th class="tb-cell">Maternity</th>
                                    <th class="tb-cell">Funeral Cover</th>
                                    <th class="tb-cell">Evacuation</th>
                                    <th class="tb-cell">International Treatment & Travel</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tb-cell" rowspan="2">B5</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                    <td rowspan="2">450000</td>
                                    <td rowspan="2">60000</td>
                                    <td rowspan="2">120000</td>
                                    <td rowspan="2">300000</td>
                                    <td rowspan="15">
                                        Air (Fix-wing and
                                        Helicopter) at four (4)
                                        per family per annum
                                    </td>
                                    <td rowspan="15">
                                        KShs 2,000,000 for
                                        International treatment and
                                        KShs 200,000 for
                                        international travel for the
                                        patient and one person
                                    </td>
                                </tr>
                                <tr>
                                    <td>1000000</td>
                                    <td>150000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell" rowspan="2">C1</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                    <td rowspan="2">450000</td>
                                    <td rowspan="2">60000</td>
                                    <td rowspan="2">120000</td>
                                    <td rowspan="2">300000</td>
                                </tr>
                                <tr>
                                    <td>1000000</td>
                                    <td>150000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell" rowspan="2">C2</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                    <td rowspan="2">450000</td>
                                    <td rowspan="2">60000</td>
                                    <td rowspan="2">120000</td>
                                    <td rowspan="2">300000</td>
                                </tr>
                                <tr>
                                    <td>1000000</td>
                                    <td>150000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell" rowspan="2">C3</td>
                                    <td>Unlimited</td>
                                    <td>Unlimited</td>
                                    <td rowspan="2">450000</td>
                                    <td rowspan="2">60000</td>
                                    <td rowspan="2">120000</td>
                                    <td rowspan="2">300000</td>
                                </tr>
                                <tr>
                                    <td>1300000</td>
                                    <td>200000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell">C4</td>
                                    <td>1500000</td>
                                    <td>225000</td>
                                    <td>45000</td>
                                    <td>60000</td>
                                    <td>120000</td>
                                    <td>300000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell">C5</td>
                                    <td>1800000</td>
                                    <td>250000</td>
                                    <td>45000</td>
                                    <td>60000</td>
                                    <td>200000</td>
                                    <td>300000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell">D1</td>
                                    <td>2000000</td>
                                    <td>300000</td>
                                    <td>45000</td>
                                    <td>60000</td>
                                    <td>200000</td>
                                    <td>300000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell">D2</td>
                                    <td>2200000</td>
                                    <td>325000</td>
                                    <td>45000</td>
                                    <td>60000</td>
                                    <td>200000</td>
                                    <td>300000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell">D3</td>
                                    <td>2500000</td>
                                    <td>325000</td>
                                    <td>45000</td>
                                    <td>60000</td>
                                    <td>250000</td>
                                    <td>300000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell">D4</td>
                                    <td>2800000</td>
                                    <td>400000</td>
                                    <td>45000</td>
                                    <td>60000</td>
                                    <td>250000</td>
                                    <td>300000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell">D5</td>
                                    <td>3000000</td>
                                    <td>450000</td>
                                    <td>45000</td>
                                    <td>60000</td>
                                    <td>300000</td>
                                    <td>300000</td>
                                </tr>
                                <tr>
                                    <td class="tb-cell" colspan="9"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- Benefits-Structure -->
            <section id="benefits-structure" class="section-bg-img">
                <div class="container-fluid section-padding">
                    <div class="row">
                        <div class="col-12 col-md-3 order-md-2">
                            <div class="benefits-bar position-sticky top-0">
                                <ul class="list-unstyled d-flex flex-column justify-content-evenly align-items-center">
                                    <li>
                                        <button class="btn rounded-0 w-100 h-100"
                                                data-hx-get="static/templates/inpatient.html"
                                                data-hx-trigger="click"
                                                data-hx-target="#benefits"
                                                data-hx-swap="innerHTML">Inpatient benefits</button>
                                    </li>
                                    <li>
                                        <button class="btn rounded-0 w-100 h-100"
                                                data-hx-get="static/templates/outpatient.html"
                                                data-hx-trigger="click"
                                                data-hx-target="#benefits"
                                                data-hx-swap="innerHTML">Outpatient benefits</button>
                                    </li>
                                    <li>
                                        <button class="btn rounded-0 w-100 h-100"
                                                data-hx-get="static/templates/additional-cover.html"
                                                data-hx-trigger="click"
                                                data-hx-target="#benefits"
                                                data-hx-swap="innerHTML">Additional benefits</button>
                                    </li>
                                    <li>
                                        <button class="btn rounded-0 w-100 h-100"
                                                data-hx-get="static/templates/wellness.html"
                                                data-hx-trigger="click"
                                                data-hx-target="#benefits"
                                                data-hx-swap="innerHTML">Wellness education</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-9 order-md-1">
                            <div id="benefits">
                                <!-- *
                             * Benefits container that will be filled with content
                             *
                         -->
                                <div id="benefitscarousel"
                                     class="carousel slide"
                                     data-bs-ride="carousel"
                                     data-bs-pause="false">
                                    <div class="carousel-inner">
                                        <div class="carousel-item slide-1 active">
                                            <img src="static/img/benefit/bn_slide_1.jpg"
                                                 class="img-fluid d-block mx-auto"
                                                 width="500px"
                                                 height=""
                                                 alt="">
                                        </div>
                                        <div class="carousel-item slide-2">
                                            <img src="static/img/benefit/bn_slide_2.jpg"
                                                 class="img-fluid d-block mx-auto"
                                                 width="500px"
                                                 height=""
                                                 alt="">
                                        </div>
                                        <div class="carousel-item slide-3">
                                            <img src="static/img/benefit/bn_slide_3.jpg"
                                                 class="img-fluid d-block mx-auto"
                                                 width="500px"
                                                 height=""
                                                 alt="">
                                        </div>
                                        <div class="carousel-item slide-4">
                                            <img src="static/img/benefit/bn_slide_4.jpg"
                                                 class="img-fluid d-block mx-auto"
                                                 width="500px"
                                                 height=""
                                                 alt="">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev"
                                            type="button"
                                            data-bs-target="#benefitscarousel"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next"
                                            type="button"
                                            data-bs-target="#benefitscarousel"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container-fluid section-padding">
                    <div class="row g-4">
                        <!-- Scheme exclusions -->
                        <div id="scheme-exclusions" class="col-12 col-md-6" data-aos="fade-up">
                            <h3>Scheme Exclusions</h3>
                            <p class="fw-bold">Expenses for the following will not be covered for under the scheme:</p>
                            <ol>
                                <li>Cosmetic Treatments</li>
                                <li>Self-prescribed treatment</li>
                                <li>Experimental treatment</li>
                                <li>Costs already catered for by another insurance company</li>
                                <li>Maternity for child dependants</li>
                                <li>Reimbursement without prior approval from the insurance which should be notified within 24 hrs</li>
                            </ol>
                        </div>
                        <!-- Eligibility -->
                        <div id="eligibility" class="col-12 col-md-6" data-aos="fade-up">
                            <h3>Eligibility</h3>
                            <ul>
                                <li>
                                    All teachers employed by TSC and actively in service from eighteen (18) years to the
                                    mandatory retirement age.
                                </li>
                                <li>One (1) legal spouse to the teacher.</li>
                                <li>
                                    Four (4) dependent children (biological/legally adopted) from birth till the age of eighteen (18) years or to the age of 25 (twenty five) years if residing with their parents and are enrolled in a post-secondary institution.
                                </li>
                                <li>No age limit applies to child dependants with a disability.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container-fluid section-padding">
                <div class="row">
                    <div class="quick-links col-12 col-sm-6 col-md-4 d-flex justify-content-md-start">
                        <div>
                            <h3>Quick links</h3>
                            <ul class="text-uppercase ">
                                <li>
                                    <a href="about.html"><i class="bi bi-caret-right-fill"></i><span>Afya Kwa Walimu
                                    explained</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html"><i class="bi bi-caret-right-fill"></i><span>Benefits
                                    Structure</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html#eligibility"><i class="bi bi-caret-right-fill"></i><span>Eligibility</span></a>
                                </li>
                                <li>
                                    <a href="register.html"><i class="bi bi-caret-right-fill"></i><span>Registration</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html#scheme-exclusions"><i class="bi bi-caret-right-fill"></i><span>Exclusions</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="benefits-links col-12 col-sm-6 col-md-4 d-flex justify-content-md-center">
                        <div>
                            <h3>Benefits</h3>
                            <ul class="text-uppercase">
                                <li>
                                    <a href="benefits-structure.html?benefits=inpatient"><i class="bi bi-caret-right-fill"></i><span>Inpatient</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=outpatient"><i class="bi bi-caret-right-fill"></i><span>Outpatient</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=additional-cover"><i class="bi bi-caret-right-fill"></i><span>Additional cover</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=wellness&category=maternity"><i class="bi bi-caret-right-fill"></i><span>Maternity</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=wellness&category=optical"><i class="bi bi-caret-right-fill"></i><span>Optical</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=wellness&category=dental"><i class="bi bi-caret-right-fill"></i><span>Dental</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=wellness&category=evacuation"><i class="bi bi-caret-right-fill"></i><span>Local Road and Air Evacuation</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=wellness&category=international-treatment"><i class="bi bi-caret-right-fill"></i><span>International Treatment</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=wellness&category=psychiatric-counsellings"><i class="bi bi-caret-right-fill"></i><span>Psychiatric and  Counsellings</span></a>
                                </li>
                                <li>
                                    <a href="benefits-structure.html?benefits=wellness&category=last-respects"><i class="bi bi-caret-right-fill"></i><span>Funeral and Last Respects</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contacts-links col-12 col-md-4 d-flex justify-content-md-end">
                        <div class="flex-sm-grow-1 flex-md-grow-0">
                            <h3>Contacts</h3>
                            <div class="d-flex flex-column flex-sm-row flex-md-column">
                                <ul class="flex-grow-1">
                                    <li>
                                        <a href="tel:+254 (730) 604 000"><i class="bi bi-telephone"></i><span>1528</span></a>
                                    </li>
                                    <li>
                                        <a href="tel:+254 (730) 604 000"><i class="bi bi-phone"></i><span>+254 (730) 604
                                        000</span></a>
                                    </li>
                                    <li>
                                        <a href="mailto:afya@minet.com"><i class="bi bi-envelope"></i><span>afya@minet.com</span></a>
                                    </li>
                                    <li>
                                        <a href="tel:*202*07#"><i class="bi bi-hash"></i><span>USSD *202*07#</span></a>
                                    </li>
                                    <li>
                                        <a href="https://minet.com/Kenya" target="_blank"><i class="bi bi-globe"></i><span>minet.com/Kenya</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-phone-landscape"></i><span>WalimuCare App</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-file-earmark-text"></i><span>Teachers medical
                                        scheme</span></a>
                                    </li>
                                </ul>
                                <div class="register-btn flex-grow-1" data-aos="fade-in">
                                    <a class="text-uppercase" href="register.html"><span>Register</span><i class="bi bi-caret-right-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ======= Bottom Bar ======= -->
        <section id="bottom-bar">
            <div class="container-fluid section-padding">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div class="col">
                        <div class="copyright text-center text-lg-start pe-xl-5">
                            <p>All rights reserved ©️ Minet Group 2023</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="social-links d-flex justify-content-evenly">
                            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
                            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
                            <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
                            <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
                            <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
                            <a href="" target="_blank"><i class="bi bi-telegram"></i></a>
                            <a href="" target="_blank"><i class="bi bi-vimeo"></i></a>
                            <a href="" target="_blank"><i class="bi bi-snapchat"></i></a>
                            <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
                        </div>
                    </div>
                    <div class="col col-md-12 col-lg-4">
                        <div class="slogan text-center text-lg-end text-uppercase ps-xl-5">
                            <p>Risk.Reinsurance.People</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= Back To Top Arrow ======= -->
        <a href="#"
           class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>
    </body>
</html>
