<div data-aos="fade-in">
    <h3>InPatient Benefits</h3>
    <p>
        This benefit covers treatment that requires admission to a hospital or day-care
        surgery/procedure. The benefits (paid net of NHIF (National Health Insurance Fund)
        rebates)
        under this cover include but are not limited to:
    </p>
    <ul>
        <li>Cost of hospitalization, treatment and surgery including day cases and discharge</li>
        <li>
            Post Hospitalization benefits up to a maximum of five (5) weeks (35 days) and
            three
            (3)
            months for attendant therapy
        </li>
        <li>
            Accommodation and meals for a caretaker or parent/guardian accompanying a child
            of
            12
            years and below
        </li>
        <li>
            Accident-related hospitalization and reconstructive surgery following an
            accident
        </li>
        <li>
            Treatment of pre-existing and chronic recurrent conditions including but not
            limited
            to
            hypertension, asthma, diabetes, kidney failure, cancer-related illness,
            arthritis,
            HIV/
            AIDS, and pre-existing surgical conditions
        </li>
        <li>
            Treatment for Congenital conditions and neonatal/prematurity-related conditions
            including defects/genetic disorders
        </li>
        <li>
            Dental and optical hospitalization/ ophthalmology surgery resulting from an
            accident
            (covered within the inpatient limit)
        </li>
        <li>
            The Inpatient optical/ eye treatment (excluding correction of refractive errors
            and
            laser treatment)
        </li>
        <li>Access to and fees for specialists including physicians, surgeons, anesthetists'</li>
        <li>Inpatient Psychiatric treatment</li>
        <li>
            Laboratory investigations, X-rays, ultrasound, ECG, MRI Scans, Radiology X-rays,
            CT
            scan
            and PET Scan
        </li>
        <li>
            Prescribed drugs/medicine, dressings, surgical appliances, and nursing
            procedures
        </li>
        <li>Radiotherapy and chemotherapy</li>
        <li>In-Patient Physiotherapy, Hydrotherapy and Occupational therapy</li>
        <li>
            Intensive Care Unit (ICU), High Dependency Unit (HDU) and Critical Care Unit
            (CCU)
            charges.
        </li>
        <li>Palliative or analgesic care.</li>
        <li>Male medical circumcision</li>
    </ul>
</div>
