<div data-aos="fade-in" class="bg-white text-dark p-5">
    <h3>Outpatient Benefits</h3>
    <p>
        This benefit covers treatment that does not require admission or day-care surgery in
        a
        hospital. The outpatient cover caters for all routine outpatient services which
        include
        but
        are not limited to:
    </p>
    <ul>
        <li>Routine outpatient consultation</li>
        <li>Prescribed physiotherapy</li>
        <li>Prescribed drugs and dressings</li>
        <li>Maternity Pre and Post Natal care</li>
        <li>
            Routine Immunizations: KEPI (Kenya Expanded Program of Immunization) and Baby
            Friendly
            Vaccines and immunizations against COVID-19
        </li>
        <li>
            Staff vaccinations for recommended travel vaccines while on official duty e.g.,
            yellow
            fever, polio as well as other non-travel related vaccines such as Hepatitis B.
        </li>
        <li>Psychiatric and Counselling Services</li>
        <li>Family planning & fertility tests including impotence drugs</li>
        <li>
            Testing, and treatment of HIV/AIDS including prescribed ARVs to the full family
            cover
            limit per annum
        </li>
        <li>Alternative treatment i.e., acupuncture and chiropractor (on referral)</li>
        <li>Treatment of pre-existing and chronic conditions including TB, Cancer, etc.</li>
        <li>Annual General check-up for principal member and spouse</li>
        <li>
            Radiology, X-ray, ultrasound, EEG, ECG Computerized Tomography (CT-SCAN), and
            MRI
            Scans
        </li>
        <li>Free access to all medical Specialists upon referral</li>
        <li>
            Cancer tests and diagnosis - PSA test (Prostate Antigen Test) for male employees
            and
            spouses and one pap- smear test and a mammogram for female employees and spouses
            per
            annum
        </li>
        <li>
            Online health services including consultation, e-pharmacy, and e-laboratory
            services
            (access through USSD (Unstructured Supplementary Service Data))
        </li>
    </ul>
</div>
